languages:
  docker-compose:
    start: "docker-compose -f docker-compose.yaml up -d"
    stop: "docker-compose down"
    special_patterns:
      "docker-compose.yaml"
  python:
    start: "pdm install && pdm start"
    build: "pdm build"
    extensions:
      - "py"
    special_patterns:
      - "setup.cfg"
      - "setup.py"
      - "pyproject.toml"
  java:
    start: gradle bootRun
    build: gradle build -x check -x test
    extensions:
      - "java"
    special_patterns:
      - "build.gradle"
      - "pom.xml"
